button{
    width: 250px;
    height: 80px;
    font-size: 35px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
    margin: 80px 30px;
}

button:hover{
    background-color: #00471b;
}

.boton-click{
    background-color: #002ead;
}

.boton-reiniciar{
    background-color: #5a01a7;
}